.price-header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    margin: 0 auto;
}
.price {
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.price-elem {
    padding-right: 30px;
    padding-left: 30px;
    width: 340px;
    display: block;
    margin: 0 auto;
}
.price-elem h3 {
    text-align: center;
}
@media (min-width: 640px) {
    .price-elem {
        padding-right: 20px;
        padding-left: 20px;
        width: 500px;
    }
    .price-container {
        width: 50vw;
    }
}